/**********
*日期：2020/10/24
*作者：luke
*用途：公共的css样式
*other:none
*version:1.0
*/

.pr{position:relative;}
.pa{position: absolute;}

.fl{float:left;}
.fr{float:right;}

.mT3{margin-top: 3px;}
.mT10{margin-top: 15px;}
.mR5{margin-right: 5px;}
.mR10{margin-right: 10px;}

.dis_no{display: none;}

.cle:after{clear:both;content:'.';display:block;width:0;height:0;visibility: hidden;}